<% was_validated = bookmark.errors.any? %>

<%= form_with(model: bookmark, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for user_bookmarks start -->
  <div class="form-group">
    <% user_bookmark_class = "form-control" %>
    <% user_bookmark_was_invalid = bookmark.errors.include?(:user_bookmark) %>

    <% if was_validated %>
      <% if user_bookmark_was_invalid %>
        <% user_bookmark_class << " is-invalid" %>
      <% else %>
        <% user_bookmark_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_bookmarks %>
    <!-- Input for user_bookmarks start -->
    <%= f.number_field :user_bookmarks, class: user_bookmark_class, placeholder: "Enter user bookmark" %>
    <!-- Input for user_bookmarks end -->
    <% if user_bookmark_was_invalid %>
      <% bookmark.errors.full_messages_for(:user_bookmark).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for user_bookmarks end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
