<%= form_with(model: @movie, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :title %>

    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :year %>

    <%= f.date_select :year, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :duration %>

    <%= f.text_field :duration, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :director_id %>

    <%= f.collection_select :director_id, Director.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :details %>

    <%= f.text_field :details, class: "form-control" %>
  </div>

  <%= f.hidden_field :cast, value: @actor.id %>

  <%= f.submit "Create movie", class: "btn btn-block btn-outline-secondary" %>
<% end %>
