<%= form_with(model: @review, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :movie_id %>

    <%= f.collection_select :movie_id, Movie.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :director_id %>

    <%= f.text_field :director_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :year %>

    <%= f.text_field :year, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :duration %>

    <%= f.text_field :duration, class: "form-control" %>
  </div>

  <%= f.hidden_field :review_content, value: @user.id %>

  <div class="form-group">
    <%= f.label :cast %>

    <%= f.text_field :cast, class: "form-control" %>
  </div>

  <%= f.submit "Create review", class: "btn btn-block btn-outline-secondary" %>
<% end %>
