<% was_validated = review.errors.any? %>

<%= form_with(model: review, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% movie_class = "form-control" %>
    <% movie_was_invalid = review.errors.include?(:movie) %>

    <% if was_validated %>
      <% if movie_was_invalid %>
        <% movie_class << " is-invalid" %>
      <% else %>
        <% movie_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :movie_id %>
    <%= f.collection_select :movie_id, Movie.all, :id, :to_s, {}, class: "form-control" %>
    <% if movie_was_invalid %>
      <% review.errors.full_messages_for(:movie).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% director_class = "form-control" %>
    <% director_was_invalid = review.errors.include?(:director) %>

    <% if was_validated %>
      <% if director_was_invalid %>
        <% director_class << " is-invalid" %>
      <% else %>
        <% director_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :director_id %>
    <%= f.number_field :director_id, class: director_class, placeholder: "Enter director" %>
    <% if director_was_invalid %>
      <% review.errors.full_messages_for(:director).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% year_class = "form-control" %>
    <% year_was_invalid = review.errors.include?(:year) %>

    <% if was_validated %>
      <% if year_was_invalid %>
        <% year_class << " is-invalid" %>
      <% else %>
        <% year_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :year %>
    <%= f.text_field :year, class: year_class, placeholder: "Enter year" %>
    <% if year_was_invalid %>
      <% review.errors.full_messages_for(:year).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% duration_class = "form-control" %>
    <% duration_was_invalid = review.errors.include?(:duration) %>

    <% if was_validated %>
      <% if duration_was_invalid %>
        <% duration_class << " is-invalid" %>
      <% else %>
        <% duration_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :duration %>
    <%= f.text_field :duration, class: duration_class, placeholder: "Enter duration" %>
    <% if duration_was_invalid %>
      <% review.errors.full_messages_for(:duration).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% review_content_class = "form-control" %>
    <% review_content_was_invalid = review.errors.include?(:review_content) %>

    <% if was_validated %>
      <% if review_content_was_invalid %>
        <% review_content_class << " is-invalid" %>
      <% else %>
        <% review_content_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :review_content %>
    <%= f.collection_select :review_content, User.all, :id, :to_s, {}, class: "form-control" %>
    <% if review_content_was_invalid %>
      <% review.errors.full_messages_for(:review_content).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% cast_class = "form-control" %>
    <% cast_was_invalid = review.errors.include?(:cast) %>

    <% if was_validated %>
      <% if cast_was_invalid %>
        <% cast_class << " is-invalid" %>
      <% else %>
        <% cast_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :cast %>
    <%= f.number_field :cast, class: cast_class, placeholder: "Enter cast" %>
    <% if cast_was_invalid %>
      <% review.errors.full_messages_for(:cast).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
